# These packages are not necessary if only using PrecursorSelector for precursor recommendation.
# matminer
# scikit-learn==1.0.2
# gensim==3.8.3
#
# unidecode
# Synthepedia
# ValenceSolver
# synthesis_dataset
# ReactionCompleter

