Synthepedia
ValenceSolver
synthesis_dataset
ReactionCompleter
unidecode
pymatgen
adjustText
colorcet
psutil
seaborn
jsonlines
gensim
matplotlib
tensorflow
regex
matminer

# maybe gensim==3.8.3 is required for the FastText model